# Ignore virtual environments and environment files
.venv/
.env

# Ignore everything inside static
static/*

# Except this specific folder (allow tracking of BackGrounds)
!static/BackGrounds/
!static/BackGrounds/**

# But still ignore uploads
static/uploads/
